<VirtualHost {{ item['listen_address'] | default('*')}}:{{ item['listen_port'] | default('443') }}>
  ServerName {{ item['server_name'] }}
  {% for server_alias in item['server_aliases'] %}
  ServerAlias {{ server_alias }}
  {% endfor %}

  DocumentRoot "{{ apache_vhost_base_directory }}/{{ item['server_name'] }}/httpdocs"

  ErrorLog "{{ apache_vhost_base_directory }}/{{ item['server_name'] }}/logs/error_log"
  {% for custom_log in item['custom_logs'] %}
  CustomLog {{ custom_log.name }} {{ custom_log.format }}
  {% endfor %}

  <IfModule mod_headers.c>
    <FilesMatch "(\.js|\.css)">
            Header append Vary Accept-Encoding
    </FilesMatch>
    Header unset X-Generator
    Header unset X-Drupal-Cache
    Header unset X-Powered-By
    Header unset Server
  </IfModule>

  <IfModule mod_default.c>
    SetOutputFilter DEFAULT
    SetEnvIfNoCase Request_URI \.(?:exe|t?gz|zip|iso|tar|bz2|sit|rar|png|jpg|gif|jpeg|flv|swf|mp3)$ no-gzip dont-vary
    DeflateCompressionLevel 9
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    BrowserMatch ^Mozilla/4.0[678] no-gzip
    BrowserMatch bMSIE !no-gzip !gzip-only-text/html
    SetEnvIf User-Agent ".*MSIE.*" nokeepalive ssl-unclean-shutdown downgrade-1.0 force-response-1.0
  </IfModule>

  <Directory "{{ apache_vhost_base_directory }}/{{ item['server_name'] }}/httpdocs">
    Options -Indexes -FollowSymLinks
    AllowOverride all
    Require all granted
  </Directory>

  {% for additional_directory in item['additional_directories'] %}
  <Directory "{{ additional_directory['directory_path'] }}">
    {% for option in additional_directory['options'] %}
      {{ option }}
    {% endfor %}
  </Directory>
  {% endfor %}

</VirtualHost>
