<VirtualHost {{ item['listen_address'] | default('*')}}:{{ item['listen_port'] | default('80') }}>
  ServerName {{ item['server_name'] }}
  {% if item['server_aliases'] is defined %}
  {% for server_alias in item['server_aliases'] %}
  ServerAlias {{ server_alias }}
  {% endfor %}
  {% endif %}

  DocumentRoot "{{ apache_vhost_base_directory }}/{{ item['server_name'] }}/httpdocs"

  ErrorLog "{{ apache_vhost_base_directory }}/{{ item['server_name'] }}/logs/error_log"
  {% if item['custom_logs'] is defined %}
  {% for custom_log in item['custom_logs'] %}
  CustomLog {{ custom_log.name }} {{ custom_log.format }}
  {% endfor %}
  {% endif %}

  {% if apache_vhost_standard_settings %}
  {% for apache_vhost_standard_setting in apache_vhost_standard_settings %}
  {{ apache_vhost_standard_setting }}
  {% endfor %}
  {% endif %}

  {% if item.extra_config_options is defined and item.extra_config_options %}
  {% for extra_option in item.extra_config_options %}
  {{ extra_option }}
  {% endfor %}
  {% endif %}

  <Directory "{{ apache_vhost_base_directory }}/{{ item['server_name'] }}/httpdocs">
    {% if item.root_directory_options is defined and item.root_directory_options %}
    {% for root_directory_option in item.root_directory_options %}
    {{ root_directory_option }}
    {% endfor %}
    {% endif %}
  </Directory>

  {% if item['additional_directories'] is defined %}
  {% for additional_directory in item['additional_directories'] %}
  <Directory "{{ additional_directory['directory_path'] }}">
    {% for option in additional_directory['options'] %}
    {{ option }}
    {% endfor %}
  </Directory>
  {% endfor %}
  {% endif %}

</VirtualHost>
